@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --background-color: #{single-color("white")};
    --border-color: #{leveled-color("gray", 1)};
    --box-shadow-color: #{leveled-color("gray", 5, 0.2)};
    --loading-icon-color: #{leveled-color("gray", 5)};
  }
}

.root {
  max-width: 120zu;
  padding: 2zu;
  border-radius: var(--glob-border-radius);
  background-color: var(--background-color);
  border: solid 1zx var(--border-color);
  box-shadow: var(--glob-box-shadow-setting) var(--box-shadow-color);
  opacity: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 2000;
  transition: 0.1s opacity;
  &[data-status="open"] {
    opacity: 1;
  }
}