@charset "utf-8";

@use "/source/component/function.scss" as *;


:global(.markdown-inner):not([data-unstyled~="li"]) .root {
  column-gap: var(--glob-blank-gap);
  list-style: none;
  display: flex;
  align-items: baseline;
}

:global(.markdown-inner):not([data-unstyled~="li"]) .icon {
  color: var(--marker-color);
  flex: 0 0 auto;
}

:global(.markdown-inner):not([data-unstyled~="li"]) ol >li >.icon {
  display: none;
}

:global(.markdown-inner):not([data-unstyled~="li"]) .number {
  width: 4zu;
  font-size: 3zu;
  inset-block-end: 2zx;
  color: var(--marker-color);
  border: solid 1zx var(--marker-color);
  border-radius: var(--glob-border-radius);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  &::before {
    content: counter(ordered-list);
    counter-increment: ordered-list;
  }
}

:global(.markdown-inner):not([data-unstyled~="li"]) ul >li >.icon {
  display: none;
}

:global(.markdown-inner):not([data-unstyled~="li"]) .main {
  flex: 1 1 auto;
}