@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --heading-text-color: #{leveled-color("primary", 5)};
    --marker-color: #{leveled-color("gray", 5)};
    --block-background-color: #{leveled-color("gray", 1)};
    --table-border-color: #{leveled-color("gray", 1)};
    --blockquote-border-color: #{leveled-color("gray", 1)};
    --line-height: #{var(--glob-line-height)};
    --pre-line-height: #{var(--glob-line-height-narrow)};
  }
  &[data-compact] {
    --row-gap: 2zu;
  }
  &:not([data-compact]) {
    --row-gap: 3zu;
  }
}

.root {
  @include line-height(var(--line-height));
  container-type: inline-size;
  &[data-justify] {
    text-align: justify;
  }
}

.inner {
  row-gap: calc(var(--row-gap) - extrusion(var(--line-height)) * 2);
  display: flex;
  flex-direction: column;
}

.inner em,
.inner strong {
  font-weight: normal;
  font-style: italic;
}

.inner del {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: line-through;
}

.inner code {
  padding-inline: 1zu;
  font-size: 3.5zu;
  font-family: var(--glob-font-family-monospace);
  font-feature-settings: "palt" 0, "pkna" 0, "lnum" 0, "kern" 0 !important;
  white-space: pre;
  text-autospace: no-autospace;
  background-color: var(--block-background-color);
  border-radius: var(--glob-border-radius);
}

.inner img {
  width: auto;
  height: auto;
  max-width: 50cqw;
  max-height: 30cqw;
  margin-block: extrusion(var(--line-height)); 
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  &:only-child {
    margin-inline: auto;
  }
}

.inner :is(h1, h2) {
  @include bold-font;
  font-size: 6zu;
  color: var(--heading-text-color);
  margin-block-end: calc(1zu - extrusion(var(--line-height)) * (1 - 4 / 6));
  &:not(:first-child) {
    margin-block-start: calc(5zu - extrusion(var(--line-height)) * (1 - 4 / 6));
  }
}

.inner :is(h3, h4, h5, h6) {
  @include bold-font;
  font-size: 5zu;
  color: var(--heading-text-color);
  margin-block-end: calc(1zu - extrusion(var(--line-height)) * (1 - 4 / 5));
  &:not(:first-child) {
    margin-block-start: calc(3zu - extrusion(var(--line-height)) * (1 - 4 / 5));
  }
}

.inner :is(h1, h2) +:is(h3, h4, h5, h6) {
  margin-block-start: calc(0zu - extrusion(var(--line-height)) * (1 - 4 / 5)) !important;
}

.inner p {
}

.inner ol {
  counter-reset: ordered-list;
}

.inner blockquote {
  padding-inline-start: 2zu;
  row-gap: calc(var(--row-gap) - extrusion(var(--line-height)) * 2);
  border-inline-start: solid 4zx var(--blockquote-border-color);
  display: flex;
  flex-direction: column;
}

.inner pre {
  margin-block: extrusion(var(--line-height));
  padding-block: calc(2zu - extrusion(var(--pre-line-height)));
  padding-inline: 2zu;
  font-size: 3.5zu;
  font-family: var(--glob-font-family-monospace);
  font-feature-settings: "palt" 0, "pkna" 0, "lnum" 0, "kern" 0 !important;
  white-space: pre;
  text-autospace: no-autospace;
  line-height: var(--pre-line-height);
  background-color: var(--block-background-color);
  border-radius: var(--glob-border-radius);
  overflow-x: auto;
  >code {
    font-size: inherit;
    display: contents;
  }
}

.inner :global(.table-wrapper) {
  margin-block: extrusion(var(--line-height));
}

.inner table {
  border-radius: var(--glob-border-radius);
  border-spacing: 0zu;
  border-collapse: separate;
  align-self: center;
  white-space: nowrap;
}

.inner td,
.inner th {
  padding-block: calc(1.5zu - extrusion(var(--line-height)));
  padding-inline: 2zu;
  border-block-end: solid 1zx var(--table-border-color);
  border-inline-end: solid 1zx var(--table-border-color);
}

.inner th {
  background-color: var(--block-background-color);
}

.inner thead tr:first-child >* {
  border-block-start: solid 1zx var(--table-border-color);
}

.inner tr >*:first-child {
  border-inline-start: solid 1zx var(--table-border-color);
}

.inner thead tr:first-child >*:first-child {
  border-start-start-radius: var(--glob-border-radius);
}

.inner thead tr:first-child >*:last-child {
  border-start-end-radius: var(--glob-border-radius);
}

.inner tbody tr:last-child >*:first-child {
  border-end-start-radius: var(--glob-border-radius);
}

.inner tbody tr:last-child >*:last-child {
  border-end-end-radius: var(--glob-border-radius);
}