@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --border-color: #{leveled-color("gray", 1)};
  }
}

.root {
  border-block-end: solid 1zx var(--border-color);
}

.inner {
  column-gap: 4zu;
  margin-block-end: -1zx;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: visible;
}