@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    &:not([data-selected]) {
      --text-color: #{leveled-color("gray", 5)};
      --highlight-color: #{leveled-color("gray", 1)};
      --focus-color: #{leveled-color("gray", 5, var(--glob-focus-alpha))};
    }
    &[data-selected] {
      --text-color: var(--selected-text-color);
      --highlight-color: var(--selected-highlight-color);
      --focus-color: var(--selected-focus-color);
    }
  }
}

.root {
  padding-block-end: 2zu;
  border-start-start-radius: var(--glob-border-radius);
  border-start-end-radius: var(--glob-border-radius);
  border-block-end: solid 1zu transparent;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.1s border;
  cursor: pointer;
  flex: 0 0 auto;
  &[data-selected] {
    border-block-end-color: var(--highlight-color);
  }
  &:not([data-selected]):hover {
    border-block-end-color: var(--highlight-color);
  }
  &:focus-visible {
    outline: solid 2zx var(--focus-color);
  }
}

.inactive {
  color: var(--text-color);
  grid-area: 1 / 1;
  transition: 0.1s opacity;
  .root[data-selected] >& {
    opacity: 0;
    pointer-events: none;
    user-select: none
  }
}

.active {
  @include bold-font;
  color: var(--text-color);
  grid-area: 1 / 1;
  transition: 0.1s opacity;
  .root:not([data-selected]) >& {
    opacity: 0;
    pointer-events: none;
    user-select: none
  }
}