@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --border-color: #{leveled-color("gray", 1)};
  }
}

.root {
  margin-block-start: 3zu;
  padding-block-start: 3zu;
  border-block-start: solid 1zx var(--border-color);
}