@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --background-color: #{single-color("white")};
    &:not([data-error]) {
      --border-color: #{leveled-color("gray", 3)};
      --box-shadow-color: #{leveled-color("gray", 5, 0.2)};
      --focus-color: #{leveled-color("primary", 5, var(--glob-focus-alpha))};
      --focus-border-color: #{leveled-color("primary", 5)};
    }
    &[data-error] {
      --border-color: #{leveled-color("red", 3)};
      --box-shadow-color: #{leveled-color("red", 5, 0.2)};
      --focus-color: #{leveled-color("red", 5, var(--glob-focus-alpha))};
      --focus-border-color: #{leveled-color("red", 5)};
    }
  }
  &[data-font-family="main"] {
    --line-height: var(--glob-line-height);
  }
  &[data-font-family="monospace"] {
    --line-height: var(--glob-line-height-narrow);
  }
}

.root {
  font-size: 4zu;
  border-radius: var(--glob-border-radius);
  background-color: var(--background-color);
  border: solid 1zx var(--border-color);
  box-shadow: inset var(--glob-box-shadow-setting) var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: text;
  z-index: 0;
  &:focus-within {
    border-color: var(--focus-border-color);
    outline: solid 2zx var(--focus-color);
  }
  &[data-disabled] {
    opacity: 0.5;
  }
}

.input {
  padding-inline: 2zu;
  padding-block: calc(2zu - extrusion(var(--line-height)));
  line-height: var(--line-height);
  flex: 1 1 auto;
  align-self: stretch;
  order: 10;
  &[data-font-family="monospace"] {
    font-size: 3.5zu;
    font-family: var(--glob-font-family-monospace);
    font-feature-settings: "palt" 0, "pkna" 0, "lnum" 0, "kern" 0 !important;
    white-space: pre;
  }
}
