@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --loc-background-color: #{single-color("white")};
    &:not([data-error]) {
      --loc-border-color: #{leveled-color("gray", 3)};
      --loc-box-shadow-color: #{leveled-color("gray", 3, 0.3)};
      --loc-focus-color: #{leveled-color("primary", 5, var(--focus-alpha))};
      --loc-focus-border-color: #{leveled-color("primary", 5)};
    }
    &[data-error] {
      --loc-border-color: #{leveled-color("red", 3)};
      --loc-box-shadow-color: #{leveled-color("red", 3, 0.3)};
      --loc-focus-color: #{leveled-color("red", 5, var(--focus-alpha))};
      --loc-focus-border-color: #{leveled-color("red", 5)};
    }
  }
}

.root {
  font-size: 4zu;
  border-radius: var(--border-radius);
  background-color: var(--loc-background-color);
  border: solid 1zx var(--loc-border-color);
  box-shadow: inset var(--box-shadow-setting) var(--loc-box-shadow-color);
  display: flex;
  align-items: center;
  position: relative;
  cursor: text;
  z-index: 0;
  &:focus-within {
    border-color: var(--loc-focus-border-color);
    outline: solid 2zx var(--loc-focus-color);
  }
}

.input {
  padding-block: calc(2zu + (1 - var(--line-height)) * 0.5em);
  padding-inline: 2zu;
  line-height: var(--line-height);
  flex: 1 1 auto;
  order: 10;
}
