@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --loc-background-color: #{single-color("white")};
    --loc-border-color: #{leveled-color("gray", 3)};
    --loc-box-shadow-color: #{leveled-color("gray", 3, 0.3)};
    --loc-focus-color: #{leveled-color("primary", 5)};
    &[data-error] {
      --loc-border-color: #{leveled-color("red", 3)};
      --loc-box-shadow-color: #{leveled-color("red", 3, 0.3)};
      --loc-focus-color: #{leveled-color("red", 5)};
    }
  }
}

.root {
  padding-block: calc(1.5u - 0.25em);
  padding-inline: 2u;
  font-size: 4u;
  border-radius: var(--border-radius);
  background-color: var(--loc-background-color);
  border: solid 1px var(--loc-border-color);
  box-shadow: inset var(--box-shadow-setting) var(--loc-box-shadow-color);
  line-height: 1.5;
  display: flex;
  align-items: center;
  position: relative;
  cursor: text;
  box-sizing: content-box;
  z-index: 0;
  &:focus-within {
    outline: solid 2px var(--loc-focus-color);
    outline-offset: -1px;
  }
}

.input {
  height: 100%;
  flex: 1 1 auto;
}
