@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  &[data-need-truncation="unknown"] {
    overflow-y: hidden;
  }
  &[data-need-truncation="true"] {
    overflow-y: hidden;
    transition: 0.1s max-height;
    mask-repeat: no-repeat no-repeat;
    &[data-show] {
      mask-position: 0zu 16zu;
    }
    &:not([data-show]) {
      mask-position: 0zu 0zu;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 16zu), rgba(0, 0, 0, 0) 100%);
    }
  }
}