@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --border-color: #{leveled-color("gray", 1)};
    &:has(>* >input:checked) {
      --border-color: #{leveled-color("primary", 3)};
    }
  }
}

.root {
  padding-inline: 2.5zu;
  padding-block: 2.5zu;
  column-gap: 2zu;
  border: solid 1zx var(--border-color);
  border-radius: var(--glob-border-radius);
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: 0.1s border-color;
  flex: 0 0 auto;
}