@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  inline-size: 96zu;
  max-inline-size: calc(100vw - 10zu);
  inset-block-start: 6zu;
  inset-inline-start: 50%;
  row-gap: 3zu;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: fixed;
  outline: none;
  z-index: 10000;
}