@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --background-color: #{single-color("white")};
    --border-color: #{leveled-color("gray", 1)};
    --box-shadow-color: #{leveled-color("gray", 5, 0.2)};
  }
}

.root {
  inline-size: 100%;
  border-radius: var(--glob-border-radius);
  background-color: var(--background-color);
  border: solid 1zx var(--border-color);
  box-shadow: var(--glob-box-shadow-setting) var(--box-shadow-color);
  display: flex;
  box-sizing: border-box;
  transition: 0.1s opacity, 0.1s transform;
  &[data-state="open"] {
    animation: 0.1s open;
  }
  &[data-state="closed"] {
    animation: 0.1s close;
  }
}


@keyframes open {
  from {
    opacity: 0;
    transform: translate(0zu, 2zu);
  }
  to {
    opacity: 1;
    transform: translate(0zu, 0zu);
  }
}

@keyframes close {
  to {
    opacity: 0;
    transform: translate(0zu, 2zu);
  }
  from {
    opacity: 1;
    transform: translate(0zu, 0zu);
  }
}