@charset "utf-8";

@use "sass:math" as *;
@use "/source/component/function.scss" as *;


:root {
  --glob-border-radius: #{zx(2)};
  --glob-box-shadow-setting: #{zx(0)} #{zx(1)} #{zx(2)};
  --glob-stain-shadow-setting: inset #{zx(0)} #{zx(0)} #{zx(16)};
  --glob-blank-gap: #{div(5, 16)}em;
  --glob-focus-alpha: 0.3;
  --glob-line-height: #{1 + div(3, 8)};
  --glob-short-line-height: #{1 + div(2, 8)};
  --glob-wide-line-height: #{1 + div(4, 8)};
  --glob-noise-background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAiJJREFUWEetWEESwkAIqwf//2AvznbcHYpJCNt6qpayEEKgvg7/8z6O4yPM4/1xPT7IPtsNG+r7RQ5ETrLptGHOOwmxvN8sQPpAgaJbjyr45WcE6KDlHsxQHr9XiKMzTgSdbLJN5Ni8npzLgSg+lonfLTFCpdUEIUKYGArQKYWDuip3vIeqszpblRhlFGWjE6ST9Az6QoluiV2y7wSPfNMm6WibY8t4OVFDlTmfcRHsdqJCsJK1Cx3cAKFGhXFWoYgSdGiwJgkydhyUOkZ0Nmonm9mn7zsIRlLHDqwWiijoMThIoygzXcRc+8w5hBjl+O42g8Q1H+wmoGjymMwoHimRLpOYCDqkreRB8bAKhPqOJe52chVwZ7xRGVP7INMupP6zo6VkpCgQj6cCrORiifPNXXF2tBFtOnmftHSwKiPSwp0AqaaiJkFIqnIgNOKb2k6DLHplHaycMXQeaQjwQiZncVUqF9UcfPyeefcHkNMkuZsdlG+J8w+Z81ymg05zqGXBSaKiy+m/s824Qt4NTvK3E+CTklLxe52lXjvRbHVRjAF0Eb0820XQyTwnppIq5WlXB9mcVtu0s+38SZdCsMyO/PGEdM9ZImbSl2XE4SAbZR2ZQYg7PL0tMxUnY2BsokgfziSJ3HFL5XAxVwB2u/PSpDJ0JITN7Mg5+qcUQrAjyB1dVMnk0bqWCDWLnXJWHET3nTm/bFSJnQCdEseKsG6mfr5oRPR0YJGgrgAAAABJRU5ErkJggg==");
}

html {
  font-family: var(--glob-font-family-main);
  font-feature-settings: "palt" 1, "pkna" 1, "lnum" 1, "kern" 1 !important;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.003em;
  line-height: 1;
}

body {
  @include theme("light") {
    --text-color: #{single-color("text-light")};
    --background-color: #{single-color("background-light")};
    --stain-color: #{single-color("stain-light", 0.1)};
  }
  @include theme("dark") {
    --text-color: #{single-color("text-dark")};
    --background-color: #{single-color("background-dark")};
    --stain-color: #{single-color("stain-dark", 0.2)};
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--noise-background-image);
  box-shadow: var(--glob-stain-shadow-setting) var(--stain-color);
}