@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  padding-inline: 1zu;
  background-color: var(--border-color);
  color: var(--grip-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  z-index: 0;
  cursor: move;
  &:first-child {
    border-top-left-radius: var(--glob-border-radius);
  }
  &:not(:first-child) {
    border-top-right-radius: var(--glob-border-radius);
  }
  &:last-child {
    border-bottom-left-radius: var(--glob-border-radius);
  }
  &:not(:last-child) {
    border-bottom-right-radius: var(--glob-border-radius);
  }
}