@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  background-color: var(--border-color);
  color: var(--grip-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  z-index: 0;
  cursor: move;
  &:first-child {
    border-start-start-radius: var(--glob-border-radius);
    border-start-end-radius: var(--glob-border-radius);
  }
  &:last-child {
    border-end-start-radius: var(--glob-border-radius);
    border-end-end-radius: var(--glob-border-radius);
  }
}