@charset "utf-8";

@use "sass:math" as *;
@use "/source/component/function.scss" as *;


.root {
  @include line-height(2);
}

.inner {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}