@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --text-color: #{leveled-color("gray", 5)};
  }
}

.root {
  font-size: 3zu;
  color: var(--text-color);
}