@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --text-color: #{leveled-color("gray", 7)};
  }
}

.root {
  @include bold-font;
  font-size: 3.5zu;
  color: var(--text-color);
}