@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme(light) {
    --text-color: #{leveled-color("primary", 5)};
  }
  @include theme(dark) {
    --text-color: #{leveled-color("primary", 1)};
  }
}

.root {
  color: var(--text-color);
}