@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include control-group-vars;
  @include theme("light") {
    @include schemify using ($scheme) {
      &[data-variant="solid"] {
        --text-color: #{single-color("white")};
        --border-color: #{leveled-color($scheme, 6)};
        --hover-border-color: #{leveled-color($scheme, 7)};
        --background-color: #{leveled-color($scheme, 5)};
        --hover-background-color: #{leveled-color($scheme, 6)};
        --background-gradient-color: #{single-color("black", 0.1)};
      }
      &[data-variant="light"] {
        --text-color: #{leveled-color($scheme, 5)};
        --border-color: #{leveled-color($scheme, 3)};
        --hover-border-color: #{leveled-color($scheme, 3)};
        --background-color: #{single-color("white")};
        --hover-background-color: #{leveled-color($scheme, 0)};
        --background-gradient-color: #{leveled-color($scheme, 5, 0.1)};
      }
      --box-shadow-color: #{leveled-color($scheme, 5, 0.2)};
      --focus-color: #{leveled-color($scheme, 5, var(--glob-focus-alpha))};
    }
  }
}

.root-text {
  @include theme("light") {
    @include schemify using ($scheme) {
      --text-color: #{leveled-color($scheme, 5)};
      --hover-text-color: #{leveled-color($scheme, 6)};
      --focus-color: #{leveled-color($scheme, 5, var(--glob-focus-alpha))};
    }
  }
}

.root {
  @include control-group-item;
  padding-block: 1.5zu;
  padding-inline: 3zu;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: linear-gradient(to bottom, transparent, var(--background-gradient-color));
  border: solid 1zx var(--border-color);
  box-shadow: var(--glob-box-shadow-setting) var(--box-shadow-color);
  line-height: 1;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.1s background-color, 0.1s border-color;
  &:hover:not(:disabled, [data-loading]) {
    background-color: var(--hover-background-color);
    border-color: var(--hover-border-color);
  }
  &:active {
    background-image: linear-gradient(to bottom, var(--background-gradient-color), transparent);
  }
  &:focus-visible {
    outline: solid 2zx var(--focus-color);
  }
  &:disabled,
  &[data-loading] {
    box-shadow: var(--glob-box-shadow-setting) transparent;
    opacity: 0.5;
    cursor: inherit;
  }
}

.root-text {
  color: var(--text-color);
  border-radius: var(--glob-border-radius);
  text-decoration-line: underline;
  display: inline;
  position: relative;
  cursor: pointer;
  transition: 0.1s color, 0.1s text-decoration-color;
  &[data-variant="text"] {
    text-decoration-color: transparent;
    &:hover:not(:disabled, [data-loading]) {
      color: var(--hover-text-color);
      text-decoration-color: var(--hover-text-color);
    }
  }
  &[data-variant="underline"] {
    text-decoration-color: var(--text-color);
    &:hover:not(:disabled, [data-loading]) {
      color: var(--hover-text-color);
      text-decoration-color: transparent;
    }
  }
  &:focus-visible {
    outline: solid 2zx var(--focus-color);
  }
  &:disabled,
  &[data-loading] {
    box-shadow: var(--glob-box-shadow-setting) transparent;
    opacity: 0.5;
    cursor: inherit;
  }
}

.loading {
  inset: 0zu;
  background-color: var(--background-color);
  border-radius: var(--glob-border-radius);
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  &[data-loading] {
    display: flex;
  }
}