@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include control-group-vars;
  @include theme("light") {
    @include schemify using ($scheme) {
      &[data-variant="solid"] {
        --loc-text-color: #{single-color("white")};
        --loc-border-color: #{leveled-color($scheme, 6)};
        --loc-background-color: #{leveled-color($scheme, 5)};
        --loc-background-gradient-color: #{leveled-color($scheme, 9, 0.2)};
        --loc-hover-background-color: #{leveled-color($scheme, 4)};
      }
      &[data-variant="outline"] {
        --loc-text-color: #{leveled-color($scheme, 5)};
        --loc-border-color: #{leveled-color($scheme, 3)};
        --loc-background-color: #{single-color("white")};
        --loc-background-gradient-color: #{leveled-color($scheme, 5, 0.1)};
        --loc-hover-background-color: #{leveled-color($scheme, 0)};
      }
      --loc-box-shadow-color: #{leveled-color($scheme, 3, 0.3)};
      --loc-focus-color: #{leveled-color($scheme, 5, var(--focus-alpha))};
    }
  }
}

.root {
  @include control-group-item;
  padding-block: 1.5u;
  padding-inline: 3u;
  color: var(--loc-text-color);
  background-color: var(--loc-background-color);
  background-image: linear-gradient(to bottom, transparent, var(--loc-background-gradient-color));
  border: solid 1px var(--loc-border-color);
  box-shadow: var(--box-shadow-setting) var(--loc-box-shadow-color);
  line-height: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.1s background-color;
  &:hover:not(:disabled, [data-loading]) {
    background-color: var(--loc-hover-background-color);
  }
  &:focus-visible {
    outline: solid 2px var(--loc-focus-color);
  }
  &:disabled,
  &[data-loading] {
    box-shadow: var(--box-shadow-setting) transparent;
    opacity: 0.5;
    cursor: inherit;
  }
}

.loading {
  inset: 0u;
  background-color: var(--loc-background-color);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  &[data-loading] {
    display: flex;
  }
}