@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  padding-inline: 2zu;
  padding-block: 1.5zu;
  color: var(--text-color);
  border-radius: var(--glob-border-radius);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.1s color;
  &[data-numeric] {
    min-width: 9zu;
  }
  &:not([data-numeric]) {
    min-width: 7zu;
  }
  &[data-current] {
    @include bold-font;
    background-color: var(--highlight-background-color);
  }
  &:hover:not(:disabled) {
    color: var(--hover-text-color);
  }
  &:focus-visible {
    outline: solid 2zx var(--focus-color);
    z-index: 1;
  }
}