@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  &[data-height="fit"] {
    --pane-max-width: 160zu;
    --pane-height: auto;
    --pane-padding-block: 6zu;
    --pane-padding-inline: 6zu;
    --footer-padding-block: 4zu;
    --overlay-padding-block-end: 6zu;
    --overlay-padding-inline: var(--glob-page-horizontal-padding);
  }
  &[data-height="full"] {
    --pane-height: 100%;
    @include device("desktop") {
      --pane-max-width: 240zu;
      --pane-padding-block: 8zu;
      --pane-padding-inline: 8zu;
      --footer-padding-block: 4zu;
      --overlay-padding-block-end: 6zu;
      --overlay-padding-inline: var(--glob-page-horizontal-padding);
    }
    @include device("mobile") {
      --pane-max-width: 100%;
      --pane-padding-block: 8zu;
      --pane-padding-inline: var(--glob-page-horizontal-padding);
      --footer-padding-block: 4zu;
      --overlay-padding-block-end: 0zu;
      --overlay-padding-inline: 0zu;
    }
  }
}

.root {
  padding-block-start: 10zu;
  padding-block-end: var(--overlay-padding-block-end);
  padding-inline: var(--overlay-padding-inline);
}