@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --border-color: #{leveled-color("gray", 1)};
  }
}

.root {
  padding-block: var(--footer-padding-block);
  padding-inline: var(--pane-padding-inline);
  column-gap: 3zu;
  border-block-start: solid 1zx var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}