@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  inset-inline-start: 6zu;
  inset-block-start: -6zu;
  column-gap: 4zu;
  display: flex;
  align-items: center;
  position: absolute;
}