@charset "utf-8";

@use "sass:math" as *;
@use "/source/component/function.scss" as *;


.root {
  &[data-line-height="short"] {
    @include line-height(1 + div(3, 8));
  }
  &[data-line-height="normal"] {
    @include line-height(1 + div(4, 8));
  }
  &[data-line-height="wide"] {
    @include line-height(1 + div(5, 8));
  }
  &[data-max-line-count] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}