@charset "utf-8";

@use "sass:math" as *;
@use "/source/component/function.scss" as *;


.root {
  &[data-line-height="short"] {
    @include line-height(var(--short-line-height));
  }
  &[data-line-height="normal"] {
    @include line-height(var(--line-height));
  }
  &[data-line-height="wide"] {
    @include line-height(var(--wide-line-height));
  }
  &[data-justify] {
    text-align: justify;
  }
  &[data-max-line-count] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}