@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  font-size: 3.5zu;
  display: flex;
  &[data-need-truncation] {
    &:not([data-show]) {
      inset-inline: 0zu;
      inset-block-end: 0zu;
      position: absolute;
    }
  }
  &:not([data-need-truncation]) {
    display: none;
  }
}

.icon {
  &[data-position="left"] {
    margin-inline-end: var(--glob-blank-gap);
  }
  &[data-position="right"] {
    margin-inline-start: var(--glob-blank-gap);
  }
}