@charset "utf-8";

@use "sass:math" as *;
@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    @include schemify using ($scheme) {
      &[data-variant="solid"] {
        --loc-text-color: #{single-color("white")};
        --loc-background-color: #{leveled-color($scheme, 5)};
      }
      &[data-variant="light"] {
        --loc-text-color: #{single-color("text-light")};
        --loc-background-color: #{leveled-color($scheme, 1)};
      }
    }
  }
}

.root {
  padding-block: 0.5zu;
  padding-inline: 1zu; 
  font-size: 3zu;
  color: var(--loc-text-color);
  background-color: var(--loc-background-color);
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
}