@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  width: 1px;
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
}