@charset "utf-8";

@use "sass:math" as *;


@function leveled-color($scheme, $level, $alpha: null) {
  @if $alpha != null {
    @return rgb(var(#{"--glob-color-" + $scheme + "-" + $level}), $alpha);
  } @else {
    @return rgb(var(#{"--glob-color-" + $scheme + "-" + $level}));
  }
}

@function single-color($scheme, $alpha: null) {
  @if $alpha != null {
    @return rgb(var(#{"--glob-color-" + $scheme}), $alpha);
  } @else {
    @return rgb(var(#{"--glob-color-" + $scheme}));
  }
}

@function zu($value) {
  @return div($value * 4, 16) * 1rem;
}

@function zx($value) {
  @return div($value * 1, 16) * 1rem;
}

@function extrusion($line-height) {
  @return calc((#{$line-height} - 1) * 0.5em);
}


@mixin theme($theme) {
  html[data-theme="#{$theme}"] & {
    @content;
  }
}

@mixin locale($locale) {
  html[lang="#{$locale}"] & {
    @content;
  }
}

@mixin device($device) {
  html[data-device="#{$device}"] & {
    @content;
  }
}

@mixin schemify {
  @each $scheme in "primary", "secondary", "blue", "red", "green", "yellow", "purple", "cyan", "orange", "gray" {
    &[data-scheme="#{$scheme}"] {
      @content($scheme);
    }
  }
}

@mixin normal-font {
  font-family: var(--glob-font-family);
  font-weight: normal;
}

@mixin bold-font {
  font-family: var(--glob-font-family-bold);
  font-weight: bold;
}

@mixin line-height($line-height) {
  line-height: $line-height;
  &::before {
    width: zu(0);
    height: zu(0);
    margin-block-start: calc((1 - #{$line-height}) * 0.5em);
    display: block;
    content: "";
  }
  &::after {
    width: zu(0);
    height: zu(0);
    margin-block-end: calc((1 - #{$line-height}) * 0.5em);
    display: block;
    content: "";
  }
}

@mixin control-group-vars {
  --left-border-radius: #{var(--glob-border-radius)};
  --right-border-radius: #{var(--glob-border-radius)};
  --right-border-width: #{zx(1)};
  :global(.control-group) >& {
    &:first-child {
      --left-border-radius: #{var(--glob-border-radius)};
    }
    &:not(:first-child) {
      --left-border-radius: #{zu(0)};
    }
    &:last-child {
      --right-border-radius: #{var(--glob-border-radius)};
    }
    &:not(:last-child) {
      --right-border-radius: #{zu(0)};
      --right-border-width: #{zx(0)};
    }
  }
}

@mixin control-group-item {
  border-start-start-radius: var(--left-border-radius);
  border-end-start-radius: var(--left-border-radius);
  border-start-end-radius: var(--right-border-radius);
  border-end-end-radius: var(--right-border-radius);
  border-inline-end-width: var(--right-border-width) !important;
}