@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme("light") {
    @include schemify using ($scheme) {
      --border-color: #{leveled-color($scheme, 1)};
      --background-color: #{leveled-color($scheme, 0)};
      --icon-color: #{leveled-color($scheme, 5)};
    }
  }
}

.root {
  padding-block: 3zu;
  padding-inline: 3zu;
  column-gap: 2zu;
  background-color: var(--background-color);
  border: solid 1zx var(--border-color);
  border-radius: var(--glob-border-radius);
  display: flex;
  align-items: center;
}