@charset "utf-8";

@use "/source/component/function.scss" as *;


.root {
  @include theme(light) {
    --text-color: #{single-color(text-light)};
    --background-color: #{single-color(white)};
    --focus-background-color: #{leveled-color(gray, 0)};
    @include schemify using ($scheme) {
      --text-color: #{leveled-color($scheme, 5)};
      --background-color: #{single-color(white)};
      --focus-background-color: #{leveled-color($scheme, 0)};
    }
  }
}

.root {
  padding-block: 1.5u;
  padding-inline: 2u;
  color: var(--text-color);
  background-color: var(--background-color);
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.1s background-color;
  &:hover,
  &:focus {
    background-color: var(--focus-background-color);
  }
}